@import "tailwindcss";

/* Ton fond gris pour la boutique */
body {
  background: radial-gradient(circle at top right, #dbeafe 0, #edf4ff 35%, #f8fbff 100%);
  margin: 0;
  padding: 0;
}

::selection {
  background: #e11d48;
  color: white;
}
